.product {
  /* background-color: black; */
  height: 400px;
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
}
.product-body {
  display: flex;
  gap: 20px;

  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 10px;
}
.header-area {
  padding-left: 14px;
}

.header-area p {
  margin-top: 0;
  padding-top: 0;
}
.header-area h4 {
  margin-bottom: 3px;
}
.flex-col {
  width: 250px;
  border: 2px solid gray;
  padding: 5px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.footer-area {
  padding-top: 10px;
  line-height: 0.5;
  padding-left: 14px;
}

.product-body-footer {
  background-color: #d38d23;
  width: 100%;
  border: none;
  color: azure;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.product-body-footer:hover {
  background-color: #a0650e;
}
.img {
  max-width: 200px;
  max-height: 300px;
}

.img-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.596);
  opacity: rgb(14, 13, 13);
}

.img-container img {
  width: 300px;
  height: 508px;
}

.product-body-footer p {
  text-align: center;
  color: aliceblue;
}

/* product sidebar */

.product-sidebar {
  margin-top: 50px;
  background-color: bisque;
  height: 100%;
}

.icon {
  margin-left: 4px;
}
