.nav {
  background-color: #1c2b35;
  color: rgb(184, 186, 187);
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: aliceblue;
}

.flex ul {
  list-style: none;
}

.manu {
  display: flex;
  flex-direction: row;
}

.flex ul li {
  margin-left: 60px;
}

.flex ul li:hover {
  color: rgb(255, 255, 255);
}
