.home-container {
  display: flex;
  justify-content: space-around;
}
.container {
  width: 95%;
  margin: auto auto;
}
.home-content {
  margin-top: 15vw;
}

.button {
  background-color: #181918;
  /*Green*/
  border: none;
  color: rgb(204, 188, 188);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
}
.button:hover {
  background-color: #1c7d1f;
}

.home-img img {
  height: 500px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.home-img {
  margin-top: 2%;
}
